services:
  wiring:
    image: docker.io/cyberbeni/wiring:v1
    container_name: wiring
    mem_limit: '128m'
    cpus: 1
    restart: unless-stopped
    user: 1000:1000
    network_mode: host
    environment:
      LANG: 'hu' # Language identifier, used for the time format in logs
    volumes:
      - ./config:/config
      - /etc/localtime:/etc/localtime:ro
